<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753440461969-emnpjkc9mt8pfnqouo987jrqmnsagkd9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753440461969-emnpjkc9mt8pfnqouo987jrqmnsagkd9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>753440461969-0n4dlgkdqvrom84gbsm5buofgula0ab5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAI2FrLJ_m_rrmNTIDECZVMFdiK6MW9aM</string>
	<key>GCM_SENDER_ID</key>
	<string>753440461969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>threefold.freeflow.staging</string>
	<key>PROJECT_ID</key>
	<string>freeflow-app</string>
	<key>STORAGE_BUCKET</key>
	<string>freeflow-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753440461969:ios:944b9e4108dfdca18b1b30</string>
</dict>
</plist>